<div id="header_wrap" class="outer">
  <header class="inner">
    <a class="banner github" href="{{ site.repo }}/{{ site.title }}">Fork on GitHub</a>

    <h1 id="project_title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
    <h2 id="project_tagline">{{ site.description }}</h2>

      <section id="downloads">
        <a class="zip_download_link" href="{{ site.repo }}/{{ site.title }}/zipball/master">Download this project as a .zip file</a>
        <a class="tar_download_link" href="{{ site.repo }}/{{ site.title }}/tarball/master">Download this project as a tar.gz file</a>
      </section>
  </header>
</div>