---
# Necessary front matter for YAML
---
@charset "utf-8";

$baseline: 30px;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.demo {
  padding-bottom: 40px;

  hr {
    width: 300px;
    color: transparent;
    border: none;
    border-bottom: 1px dashed #ddd;
    margin-top: 30px;
    float: left;
  }

  &:last-child hr {
    display: none;
  }

  > h3 {
    clear: both;

    select {
      position: relative;
      top: -4px;
      margin-left: 10px;
    }

    .return_link {
      font-size: 11px;
      padding-left: 15px;
    }
  }
}

.packery-wrapper {
  background: #272822;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.packery-sizer, .packery-object {
  height: $baseline;
  width: $baseline;
}

.packery-object {
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,.1);

  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;

  &.hovered, &.is-positioning-post-drag {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  &.is-dragging, &.is-positioning-post-drag {
    z-index: 5;
  }

  &.is-dragging {
    box-shadow: 0 13px 33px rgba(0,0,0,0.30), 0 8px 12px rgba(0,0,0,0.22);
  }

  &.color-a { background: #a6e22e; }
  &.color-b { background: #66d9ef; }
  &.color-c { background: #ae81ff; }
  &.color-d { background: #f92672; }

  &.h-single { height: $baseline; }
  &.h-double { height: $baseline * 2; }
  &.h-triple { height: $baseline * 3; }
  &.w-single { width: $baseline; }
  &.w-double { width: $baseline * 2; }
  &.w-triple { width: $baseline * 3; }
}

#gutter {
  .packery-object {
    &.h-double { height: ($baseline * 2) + 5px; }
    &.h-triple { height: ($baseline * 3) + 10px; }
  }
}

#isHorizontal {
  .packery-container {
    height: $baseline * 7;
  }
}

#isInitLayout {
  .packery-wrapper[is-init-layout="false"] {
    display: none;
  }
}
