<!DOCTYPE html>

{% if page.ng-app %}
  <html ng-app="{{ page.ng-app }}">
{% else %}
  <html>
{% endif %}

{% include head.html %}

<body id="top">

  {% include header.html %}

  <div id="main_wrapper" class="outer">
    {% if page.ng-app %}
      <main id="main" class="inner" ng-controller="{{ page.ng-app | capitalize }}Controller">
    {% else %}
      <main id="main" class="inner">
    {% endif %}
    
      {{ content }}
    </main>
  </div>

  {% include footer.html %}
  
  {% include scripts.html %}

</body>
</html>
